.tw-heart-box {
  display: inline-block;
  height: 70px;
  position: absolute;
  width: 100px;
}

.tw-heart {
  background: url('http://i.imgur.com/zw8ahUb.png') no-repeat 0 0;
  display: inline-block;
  height: inherit;
  left: 0;
  position: absolute;
  top: 0;
  width: inherit;
}

[ type = 'checkbox' ]:checked + .tw-heart {
  background-position: -2800px 0;
  transition: background 0.8s steps(28);
}

[ type = 'checkbox' ] {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
