header {
  align-items: center;
  background-color: #0e790e;
  display: flex;
  height: 70px;
  justify-content: space-around;
}

nav {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

nav a {
  color: black;
  margin: 10px;
  text-decoration: none;
}

.user-box {
  align-items: center;
  background-color: rgb(245, 244, 244);
  border: none;
  border-radius: 20px;
  display: flex;
  height: 35px;
  justify-content: space-evenly;
  width: fit-content;
}

.user-box img {
  margin-left: -18px;
}
